:root {
    --color-fondo: #F4F6F9;
    --color-primario: #012e88;
    --color-secundario: #eb9310;
    --color-complementario: #316bdd;
    --color-texto: #1A1A1A;
    --fuente: cursive;
}


body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente);
    margin: 0;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    }
header {
    background: var(--color-primario);
    font-size: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 0;
    z-index: 1000;
}
nav ul {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    margin: 0;
    align-items: center;
    background-color: var(--color-complementario);
    height: 30px;
}
nav li{
    list-style: none;
} 
nav h1 {
    justify-content: center;
    color: white;
}
nav ul {
    display: flex;
    gap: 130px;
    font-size: 15px;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: white;
}
nav button{
    font-family: var(--fuente);
    background: none;
    border: none;
    color: var(--color-secundario);
    cursor: pointer;
    height: 30px;
}
nav button:hover {
    background-color:var(--color-secundario);
 
}