.form {
    margin: 0 auto;
    background: white;
    padding: 25px 35px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-top: 6px solid var(--color-primario);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primario);
}

.form-label-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-label-input input,
.form-label-input textarea,
.form-label-input select {
    padding: 10px;
    border: 2px solid #dcdcdc;
    border-radius: 6px;
    font-size: 15px;
}

.form-label-input input:focus,
.form-label-input textarea:focus,
.form-label-input select:focus {
    border-color: var(--color-primario);
    outline: none;
    box-shadow: 0 0 4px rgba(58,125,255,0.4);
}


.btn-primary {
    background: var(--color-primario);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-primary:hover {
    background: var(--color-secundario);
    transform: scale(1.03);
}


fieldset {
    padding: 10px;
    border: 2px solid var(--color-complementario);
    border-radius: 8px;
}

legend {
    color: var(--color-complementario);
    font-weight: bold;
}


footer {
    margin-top: 40px;
    color: #444;
}
