.presentation {
    text-align: center;
}

.mision {
    display: flex;
    gap: 100px;
    font-family: cursive;
    justify-content: center;
}
.mision article {
    height: 250px;
    text-align: center;
    width: 600px;
    color: white;
    background-color:var(--color-complementario);
    border-radius: 10px;
}
.service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 100px;
    padding: 2rem;
}
.content {
   background-color:var(--color-secundario);
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
}
.title {
    text-align: center;
}
.credict {
    text-align: center;
    background-color: gray;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
}
